.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  color: #222222;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Givebutter widget iframe fix */
givebutter-widget {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

iframe[name="givebutter"] {
  display: block !important;
  margin: 0 auto !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  min-width: 100% !important;
  width: 100% !important;
}
