.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  color: #222222;
}

h1,
h2,
h3,
p {
  margin: 0;
}
